.header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    height: 67px;
    background-color: #000;

}

.main {
    box-sizing: border-box;
    padding: 0 40px;
    background-color: #E9E9E9;
    padding-top: 51px;
    min-height: calc(100vh - 67px);
}
