.navigation_books_wrap {
  display: flex;
  width: 100%;
  gap: 20px;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
.list_navigation {
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 16px 20px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 60vh;
}
.button_navigation {
  font-family: "Open Sans";
  border: none;
  font-weight: 400;
  font-size: 16px;
  background-color: inherit;
  line-height: 22px;
  text-align: start;
  transition: 0.3s;
}
.button_navigation:hover {
  cursor: pointer;
  opacity: 60%;
}

.button_navigation_active {
  font-weight: 700;
}
.basket_list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 20px;
  position: relative;
}
.basket_ul{
    display: flex;
    gap:14px;
    flex-direction: column;
}
ul,
h3 {
  padding: 0;
  margin: 0;
}
.basket_list_item {
  display: flex;
  justify-content: space-between;
}
.container_for_basket {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  
}
.cost {
  font-weight: 700;
}
.control_sum {
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: space-between;
  width: 90%;
  font-weight: 700;
}
p{
    margin: 0;
}
.button_buy {
  border: none;
  position: relative;
  background: #000000;
  color:#fff;
  height: 34px;
  width: 79px;
  text-align: center;
  
  border-radius: 8px;
  padding: 2px;
}
